<div class="jumbotron text-center">
    <h1>New Daily Supply Order:</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %><br>
                <% } %>
            </div>
        <% } %>
        
        <form action="/orders/create" method="POST">

            <div class="form-group">
                <label>Store Location:</label>
                <input type="text" name="storeLocation" class="form-control">
            </div>

            <div class="form-group">
                <label>Daily Order:</label>
                <textarea name="storeOrder" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Create</button>
            </div>

        </form>

    </div>
</div>