<div class="jumbotron">
    <h1 class="text-center">Supply Ordering App</h1>
    <p>
        This app is designed to for a coffee shop that has several store locations that share a kitchen.
        Here each store can place an order that will be recieved by the central kitchen and then sent out each morning.
    </p>

    <dir class="text-center">
        <a href="/orders" class="btn btn-lg btn-danger">See Orders</a>
    </dir>
</div>